In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir(r'C:\Users\TrendingPC\Desktop\IronHAck\LABS\LABS-unit-7\1.Revisiting-machine-learning')
data = pd.read_csv('learningSet.csv')
data

C:\Users\TrendingPC\AppData\Local\Temp\ipykernel_23540\1868861456.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

## Complete the following steps on the categorical columns in the dataset:

In [3]:
categorical = data.select_dtypes(include = object)
categorical.shape

(95412, 74)

#### Check for null values in all the columns

In [4]:
categorical.isna().sum().sort_values(ascending = False)

GEOCODE2    132
RFA_12        0
RFA_10        0
RFA_9         0
RFA_8         0
           ...
GEOCODE       0
MAJOR         0
SOLIH         0
SOLP3         0
GARDENIN      0
Length: 74, dtype: int64

#### Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:
* #### OSOURCE - symbol definitions not provided, too many categories
* #### ZIP CODE - we are including state already

In [5]:
drop_list = categorical.loc[:, ['OSOURCE', 'ZIP']]

In [6]:
categorical.drop(drop_list, axis=1, inplace=True)
categorical.shape

(95412, 72)

#### Identify columns that over 85% missing values

In [7]:
# Replacing the blanks for Nan values

categorical = categorical.replace(' ', np.nan)

In [8]:
# Calculating the 85% of the whole dataset

percen = len(categorical)*85/100

In [9]:
missing_values = [column for column in categorical.columns if
           categorical[column].isna().sum() > percen]

In [10]:
categorical[missing_values].isna().sum()

MAILCODE    94013
PVASTATE    93954
RECINHSE    88709
RECP3       93395
RECPGVG     95298
RECSWEEP    93795
CHILD03     94266
CHILD07     93846
CHILD12     93601
CHILD18     92565
SOLP3       95232
SOLIH       89212
MAJOR       95118
COLLECT1    90210
VETERANS    84986
BIBLE       86541
CATLG       87547
HOMEE       94525
CDPLAY      83158
STEREO      82618
PCOWNERS    84931
PHOTO       90626
CRAFTS      87236
FISHER      88282
GARDENIN    82010
BOATS       93384
WALKER      84911
KIDSTUFF    93876
CARDS       94371
PLATES      94852
dtype: int64

#### Remove those columns from the dataframe

In [11]:
categorical.drop(missing_values, axis=1, inplace=True)

In [12]:
categorical.shape

(95412, 42)

#### Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest
* #### Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())

categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [15]:
print(categorical['GENDER'].value_counts())

categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [18]:
def clean_GENDER(x):
    if x in ['U', 'J', 'C', 'A']:
        return 'other'
    else:
        return x
    
categorical["GENDER"] = categorical["GENDER"].apply(lambda x: clean_GENDER(x))

In [19]:
categorical['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64